@import "tailwindcss";

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

@theme {
    --color-black: #222222;
    --color-darkblue: #142978;
    --color-white: #FFFFFF;
    --color-darkwhite: #F1F1F180;
}

button {
    cursor: pointer;
}

