<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import "tailwindcss";

@theme{
 --color-blue:#142978;
 }
.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

html{
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button{
  cursor: pointer;
}
=======
@import "tailwindcss";

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

@theme {
    --color-black: #222222;
    --color-darkblue: #142978;
    --color-white: #FFFFFF;
    --color-darkwhite: #F1F1F180;
}

button {
    cursor: pointer;
}

>>>>>>> d1fcd4bc9e0b432642b374d95cc4314df5332621
