@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import "tailwindcss";

@theme{
 --color-blue:#142978;
 }
.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

html{
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button{
  cursor: pointer;
}